<IfModule mod_rewrite.c>
    Options -Indexes
    RewriteEngine On
</IfModule>

<IfModule mod_rewrite.c>
    RewriteCond %{HTTP_HOST} ^cp.(.*)$ [NC]
    RewriteRule ^(.*)$ backend/web/$1 [L]

    RewriteRule ^(.*)$ frontend/web/$1 [L]
</IfModule>